{
   "tabWidth": 3,
   "semi": false,

   "overrides": [
      {
         "files": "*.html",
         "options": {
            "tabWidth": 3
         }
      },

      {
         "files": "*.js",
         "options": {
            "tabWidth": 3
         }
      }
   ]
}
