[data-titulos] {
   opacity: 0;
   transform: translateX(-100px);
}

[data-titulos="animados"] {
   animation: entradaTitulos 0.8s ease forwards;
}

@keyframes entradaTitulos {
   from {
      opacity: 0;
      transform: translateX(-100px);
   }

   to {
      opacity: 1;
      transform: translateX(0);
   }
}